<link rel="stylesheet" href="../public/stylesheets/admin.css">

<header class="closed scrolling" >
    <nav class="header_nav">
        <div class="wrap">
            <div class="header_nav_wrapper">
                <a href=".."><div class="header_logo">Nek<span>W</span>eb</div></a>

            </div>
        </div>
    </nav>
</header>

<section class="wrap">
        <div class="admin_posts">
            <div class="admin_posts_post admin_posts_head">
                <div class="admin_post_col_img">
                    Фото
                </div>
                <div class="admin_post_col_title">
                    Заголовок
                </div>
                <div class="admin_post_col_descr">
                    Описание
                </div>
                <div class="admin_post_col_controls">
                    Контроль
                </div>
            </div>

    {{#each posts}}
        <div class="admin_posts_post" data-id="{{this.id}}" data-text="{{this.text}}" data-description="{{this.description}}" data-title="{{this.title}}">
            <div class="admin_post_col_img">
                <img src="../public/uploads/small/{{this.thumbnail}}" alt="" class="admin_post_col_img-image">
            </div>
            <div class="admin_post_col_title">
                {{this.title}}
            </div>
            <div class="admin_post_col_descr">
                {{this.description}}
            </div>
            <div class="admin_post_col_controls">
                <div class="admin_post_col_controls-change">изменить</div>
                <form action="/posts/delete/{{this.id}}" method="post">
                    <input type="submit" class="admin_post_col_controls-delete" value="удалить">
                </form>
            </div>
        </div>

    {{/each}}

        </div>
    <div class="add_post">+ Добавить</div>

    <form class="post_form" method="post" action="/posts/new"  enctype="multipart/form-data" style="display: none">
        <h3>Создать пост</h3>
        <div>Заголовок</div>
        <input type="text" class="input" required="true" name="title" maxlength="80">
        <div>Описание</div>
        <textarea type="text" class="input" required="true" name="description" maxlength="300" rows="5"></textarea>
        <div>Изображение</div>
        <input type="file" class="input" required="true" name="thumbnail"  accept="image/*">
        <img src="" alt="">
        <div>Текст</div>
        <textarea class="contact_input" name="text" rows="15"></textarea>
        <br/>
        <input type="submit" value="отправить" class="button">
    </form>
</section>

<footer>
    <div>Сделано с  <i class="icon-heart"></i> ! @2020</div>
    <div>Никита Козлов</div>
</footer>
<script src="../public/javascripts/admin.js"></script>
